@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;0,700;1,500;1,700&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
}
div#root{
  width:100%;
  height: 100%;
}
main.container{
  display:flex;
}
article.left{
  width:35%;
  position:relative;
}
article.left img{
  width: 100%;
  height: 100%;

}
article.left div.logo-container{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 30%;
  top: 20%;
  left:0;
  display:flex;
  justify-content: center;
  align-items:center;
}
article.left div.logo-container .logo{
  width: 40%;
  height: 100%;
}
article.left div.logo-container p{
  font-family: 'Roboto', sans-serif;
  color:white;
  font-size: 60px;
  font-style: italic;
}
article.right{
  width: 65%;
}
article.right > div:nth-child(1){
  padding-left:3%;
  padding-top: 9%;
  padding-right: 48%;
  height: 35%;
  background-color: #E5E7EB;
}
p{
  font-weight: bold;
}
p.pfisrt{
  margin-bottom: 7%;
}
article.right > div:nth-child(2){
  padding: 1% 3% 0 3%;
  height: 30%; 
}
article.right > div:nth-child(2) h2{
  margin-bottom: 1.5%;
}
article.right > div:nth-child(2) label{
  font-size: 0.8rem;
}
input.PASSWORD,input.CONFIRM{
  margin-bottom: 0%;
  border:1px solid #E5E7EB;
  
}
input.FIRST,input.EMAIL,input.PHONE,input.LAST{
  border:1px solid #E5E7EB;
  margin-bottom: 6%;
}
article.right > div:nth-child(2) input:focus{
  outline:none;
  border:1px solid blue;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
div.input-form{
  display:flex;
  gap:5%;
}
div.input-form p{
  font-size: 0.5rem;
  color:red;
}
div.input-form p.match{
  font-size: 0.5rem;
  color:green
}
div.input-form p.hide{
  display: none;
}
article.right > div:nth-child(3){
  border-bottom: 1px solid white;
  box-shadow: inset 0 4px 3px rgba(0,0,0,0.2);
  background-color: #E5E7EB;
  padding:2% 3% 3% 3%;
  height: 35%;
}
article.right > div:nth-child(3) button{
  padding: 10px 20px;
  background-color: #596D48;
  color:white;
  border:none;
  border-radius: 5px;
  transition: all 0.3s ease;
}
article.right > div:nth-child(3) button:hover{
  color: #596D48;
  background-color:white;
}
@media screen and (max-width:1300px){
  article.right > div:nth-child(1){
    padding-top: 6%;
  }
  p.pfisrt{
    margin-bottom: 5%;
  }
  input.FIRST,input.EMAIL,input.PHONE,input.LAST{
    margin-bottom: 3%;
  }
}
@media screen and (max-width:1100px){
  main.container{
    flex-direction: column;
  } 
  article.left{
    width: 100%;
    height: 65vh;
  }
  article.left > img{
    width:100%;
    height: 100%;
  }
  article.left div.logo-container{
    top:50%;
    transform: translateY(-50%);
  }
  article.left div.logo-container .logo{
    width: 25vw;
  }
  article.right{
    width: 100%;
    height: auto;
  }
  article.right > div:nth-child(1){
    height: 25vh;
    padding-left: 10vw;
    padding-top: 5vh;
    padding-right: 10vw;
    text-align: center;
  }
  p.pfisrt{
    margin-bottom: 2vh;
  }
  article.right > div:nth-child(2){
    height: 22vh;
    padding: 1vh 3vh;
  }
  article.right > div:nth-child(2) h2{
    text-align: center;
    margin-bottom: 0.5vh;
  }
  div.input-form > div{
    flex:1;
  }
  div.input-form > div input{
    width:100%;
  }
  article.right > div:nth-child(3){
    height: 25vh;
    padding: 2vh 3vh;
  }
}
@media screen and (max-width:320px){
  article.left{
    width: 100%;
    height: 40vh;
  }
  article.right > div:nth-child(2){
    height: 20vh;
    padding: 1vh 3vh;
  }
  article.right > div:nth-child(2) label{
    font-size: 0.6rem;
  }
}